.noMarginRow {
  margin: 0px;
}

.btn-squared {
  height: 100px;
  line-height: 36px;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
